<script src="<%= "http://%s/js/rtmp_input.js" % request.env["HTTP_HOST"] %>"></script>
<div id="page-streamtarget" class="container">
  <% if flash[:notice] %>
  <div class="columns">
    <div class="column notification is-primary">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <div class="columns">
    <div class="column">
      <h1>Incoming Stream</h1>
    </div>
  </div>
  <div class="columns">
    <table id="rtmp-input" class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-centered"><abbr title="Stream Name">Stream Name</abbr></th>
          <th class="has-text-centered">Protocol</th>
          <th class="has-text-centered">Video Codec</th>
          <th class="has-text-centered">Resolution</th>
          <th class="has-text-centered">Audio Codec</th>
          <th class="has-text-centered">Audio Freq</th>
          <th class="has-text-centered">Bandwidth</th>
          <th class="has-text-centered">Connect Time</th>
          <th class="has-text-centered">Action</th>
        </tr>
      </thead>
      <tbody id="rtmp-input-body">
      </tbody>
    </table>
  </div>
</div>
