<!DOCTYPE html>
<html>
  <head>
    <title>Red Catalyst Dashboard - <%= @title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-xml2json@0.0.8/src/xml2json.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="login-box-container" class="container">
      <div class="columns">
        <div class="column">
        </div>
        <div id="login-box" class="column box is-half">
          <div id="login-box-head">
            <img id="login-box-head-logo" src="https://static-web-prod.static6.com/assets/logo/logo-461683197a6bd980061d969542c069ddc7e3a6d44411426f5a72aea957394922.svg">
            <h2>Stream Engine Dashboard</h2>
          </div>
          <% if flash[:notice] %>
          <div class="columns">
            <div class="column notification is-primary">
              <button class="delete"></button>
              <%= flash[:notice] %>
            </div>
          </div>
          <% end %>
          <% if flash[:alert] %>
          <div class="columns">
            <div class="column notification is-danger">
              <button class="delete"></button>
              <%= flash[:alert] %>
            </div>
          </div>
          <% end %>
          <form action="<%= env['REQUEST_URI'] %>" accept-charset="UTF-8" data-remote="true" method="post">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="username" placeholder="Username">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input" type="password" name="password" placeholder="Password">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-medium is-fullwidth is-acc-1">Login</button>
              </div>
            </div>
          </form>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </body>
</html>
