<div id="page-streamtarget" class="container">
  <div class="columns">
    <div class="column">
      <h1>Stream Key's</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <form action="<%= env['REQUEST_URI'] %>" accept-charset="UTF-8" data-remote="true" method="post">
        <div class="field">
          <label class="label">Input Stream</label>
          <div class="control">
            <div class="select">
              <select name="app_name">
                <option value="">--- Select App ---</option>
                <option value="live">live</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Stream Key</label>
          <div class="control">
            <input class="input" type="text" name="stream_key" placeholder="Stream Key">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-link is-light">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
